<!-- <p>notes works!</p> -->

<b>* {{ note.description }}<br /></b>

<p class="categ">
  Category: <span *ngIf="note.type; else noneText">{{ note.type }}</span>
</p>
<ng-template #noneText>none</ng-template>

<app-task-edit
  [note]="note"
  (buttonData)="pushUpdateData($event)"
></app-task-edit>

<app-delete-button
  [note]="note"
  (deleteData)="pushDeleteData($event)"
></app-delete-button>

<app-category-selector
  [category]="category"
  [note]="note"
  (categoryData)="pushCategoryData($event)"
></app-category-selector>

<app-done-checkbox
  [notes]="notes"
  [note]="note"
  [i]="i"
  (checkboxData)="pushCheckboxData($event)"
></app-done-checkbox>

<br /><br />
